<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Powderdays | The Ski Holidays 2016/2017 Search Engine</title>

    <meta name="description" content="Search engine for ski holidays. Powderdays is a aggregator for finding the best price for skiing and snowboarding holidays. We search indpendent agencies to show you the best deals">
    <meta name="keywords" content="Powderdays, Search,engine,Ski,holidays,snowboarding,aggregator,best,prices,bidding,quote, ski holiday with wifi, ski holiday from london, Best Ski holidays, Ski Adventure, Ski Holiday, Resort, Full package ski holiday, Ski 2017, Ski 2016, Ski january 2017">
    <meta name="author" content="Powderdays Ski and Snowboarding Holidays">
 
 <!-- Social Share images -->    
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/powderdays/markering/marketing1.png"/>
  <meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/powderdays/markering/marketing1.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/photoswipe/dist/photoswipe.css" />
    <link rel="stylesheet" href="bower_components/photoswipe/dist/default-skin/default-skin.css" />
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="bower_components/angular/angular.js"></script>

  </head>
  <body ng-app="angularYeomanApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



<!-- This is the apps header -->

<div class="header" ng-controller = "HeaderCtrl">
      <div class="navbar navbar-default " role="navigation">
        <div class="container">




        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="/"><img id="logo" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/logo.png"></img></a>
        </div>

        <!-- <div class="navbar-header pull-right">
              <button type="button" class="btn btn-default navbar-btn" id="noStyle" style="border-width: 0px; text-decoration:none">
                <a ng-cloak ng-href="{{userData.favourites ? 'favourites' :'' }}" 
                    ng-click="userData.favourites||warning('You haven\'t favourited anything yet!')">
                Favourites <span class="badge" ng-cloak>{{userData.favourites.length}}</span>
                </a>
              </button>
        </div> -->
    
        </div>
      </div>
</div>

 





<!-- ng-view: this is part of Angular's routing system, the current view gets rendered here-->
<div ng-view autoscroll></div> 

<!-- Empty div used for spacing-->
<div style="width:100%; height:100px; background-color:white"></div>

<div ng-include src="'views/footer.html'"></div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>





    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/photoswipe/dist/photoswipe.js"></script>
    <script src="bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/clipboard/dist/clipboard.js"></script>
    <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="bower_components/angular-inview/angular-inview.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/results.js"></script>
    <script src="scripts/controllers/details.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/bloginput.js"></script>
    <script src="scripts/controllers/favourites.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/directives/searchDirective.js"></script>
    <script src="scripts/services/favouritesService.js"></script>
    <script src="scripts/services/resultsService.js"></script>
    <script src="scripts/services/lb-services.js"></script>

    <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- endbuild -->
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAaSwXIKnCp_3sdu3zBQo_fJSyzDe8zFUE",
        authDomain: "powderdays-8bcc6.firebaseapp.com",
        databaseURL: "https://powderdays-8bcc6.firebaseio.com",
        storageBucket: "powderdays-8bcc6.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
        
</body>
</html>

<! -- heapanalytics -->

<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1887766816");
</script>


<!-- Hotjar Tracking Code -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:327406,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

