
<div class="container" style="padding-bottom:20px; padding-top:20px;">
  <div class="row">

<div class="col-xs-12 col-md-6 col-md-offset-3">
<h4 id="textDetails">Our story</h4>
<h3 id="detailsTitle">It all started in the winter ski season of 2016</h3>
<p>

A group of 8 friends where in the not so uncommon situaton of trying to find a skiing holiday, and simply put, we found it hard. So many different websites to compare, requirements and budgets to meet.

The idea of a search engine for ski holidays emerged, but it was not until a year later that anything further happened. We took part in a travel-industry hackathon in June of 2016, and implemented a very simple prototype over two days.
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
	<img id="aboutImage" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/team.jpg" style="width:100%;"></img>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
Amazingly, we won multiple prizes and got a confirmation that this was a pretty great idea!
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
<img id="aboutImage" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/hack.jpg" style="width:100%;"></img>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
We won an incubator prize intended to get the project started for real, but in a twisted turn of events, the sponsors of the hackathon filed for bankrupcy just a week later... 
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
<img id="aboutImage" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/low.png" style="width:100%;"></img>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
Our morales slightly dampened, we all moved on with our summer (see videos for examples of this) <br><br>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/CDzBErRwnb8" frameborder="0" allowfullscreen></iframe><br><br>
</div>
<div class="col-xs-12 col-md-8 col-md-offset-2">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/nIXjQKqGRfI" frameborder="0" allowfullscreen></iframe><br><br>
</div>

<!--https://www.youtube.com/watch?v=nIXjQKqGRfI-->

<div class="col-xs-12 col-md-6 col-md-offset-3">
But not being known for giving up easily, Sabba was curious about what the potential for the idea could have been. He whipped up a landing page MVP, posted it on Reddit and ran some Facebook ads.
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
<img id="aboutImage" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/ski.png" style="width:100%;"></img>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
Lo and behold, it hit number 1 on r/skiing, and the site had £100,000 worth of requests in 24 hours! 
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2">
<img id="aboutImage" src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/reddit.png" style="width:100%;"></img>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
This got us all fired up and we decided that this needed to be done! Please join us in our journey and help make our dream come true.

<p><br>With LOVE, Powderdays</p>
</div>



</div>

</div>

