<div class="article-banner-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://www.soundlr.com/wp-content/uploads/2015/03/europes-biggest-snow-music-festival-snowbombing-releases-final-tickets.jpg');">  
  	<div href="/" id="shadow" class="article-banner-img-title">Festivals!!!</div>
</div>

<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">


	    <!-- Just placeholder text -->


		<h4 id="textDetails" >Festivals and Skiing, What could be better ? This is a quick run down of the best Skiing festivals around</h4><br/>

		
  	


	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >1. Snowbombing</h4><br/>

		<div class="article-text">
			<p>Snowbombing is pretty much a full blown music festival on the slopes. Expect pop, electronic and urban music with huge headline names. Named “THE MOTHER OF MOUNTAIN MUSIC FESTIVALS”and fort a good reason. This years headliners are Chase & Status, Elrow and Skream. Do check out the promo video below to get an idea of what to expect</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<iframe width="560" height="315" src="https://www.youtube.com/embed/xPgoNEvSJ7M" frameborder="0" allowfullscreen></iframe>
  	</div>
  	<br>
 

  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >2. Zermatt Unplugged</h4><br/>

		<div class="article-text">
			<p> Zermatt Unplugged is an Acoustic Music Festiva in Kaufleuten from the  27th to 29th of October. Started in 2007 as the first big-scale 'acoustic' festival in Europe, Zermatt Unplugged gets huge headline names lineups with artists that evevone loves. Check out the video below</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<iframe width="560" height="315" src="https://www.youtube.com/embed/KvSDbT2OIQ0" frameborder="0" allowfullscreen></iframe>
    </div>
  	<br>
  	

  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >3. Snowboxx</h4><br/>

		<div class="article-text">
			<p>Snowboxx 2017 is set to be the greatest festival the alps has to offer! A full week of headliners and late night partys this is not one to miss. This years headliners are BASEMENT JAXX, HIGH CONTRAST and ADORE, just to name a few.
			</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px; width:100%;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NpP0fRa9qSE" frameborder="0" allowfullscreen></iframe>
      </div>
  	<br>



  	  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >4. Horizon Festival</h4><br/>

		<div class="article-text">
			<p>If you like Underground techno, house and garage Horizon if the festival for you, the resort also benefits from 70km of ski-runs at Bulgaria's most popular resort, Bansko. Bulgaria's is also affordable, but not for long. Bulgaria is one to watch as a hot up and comping ski destnation.
			</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7qDvz6gTeT0" frameborder="0" allowfullscreen></iframe>
      </div>
  	<br>
  	

</div>






