<div class="article-banner-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.2)),url('http://67.media.tumblr.com/b8424d53e26e757bf3d87ee9dbc63c8f/tumblr_o1va7gAjKH1upyvwfo1_500.jpg');">  
  	<div href="/" id="shadow" class="article-banner-img-title">Apres Skiing and Partying 🍻</div>
</div>

<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">


		<!-- Details View -->
	   


		<div class="article-text">

			<h4 id="textDetails" >We all love Après</h4><br/>
			<p>If you're like me, having a drink (or two) at the end of a good day on the slopes is the perfect way to unwind. Some resorts are known for having amazing Après-ski culture where things can get a little out of hand. If you like meeting people from around the world, dancing on tables, defusing the best slopes and meeting the seasonaires, then check out this list of the best ski resorts for partying. </p>
		</div>
	</div>

  	<br>
  	


	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails">1. St Anton, Austria</h4><br/>

		<div class="article-text">
			<p>
				Every year St Anton ends up on top for ‘Best après-ski’ lists year after year. Partying is taken extremely seriously here. The resort has loads of bars and great clubs to choose from, and the bar Mooserwit has said it sells 5000 litres of beer a day, now that's a lot of beer. Expect to be up all night as this resort is buzzing through till about 3am.
			</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="http://www.mooserwirt.at/files/img_4147-kopie_1.jpg" style="width:100%" alt=""> </img>
  	</div>
  	<br>
 

  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >2. Mayrhofen, Austria</h4><br/>

		<div class="article-text">
			<p>One of the liveliest resorts in the Alps, Mayrhofen really comes alive in the night. It's well known for its vibrant après, cocktails and dancing all night long.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="http://snowangel.co.uk/wp-content/uploads/2015/01/Screen-Shot-2015-01-20-at-18.16.55.png" style="width:100%" alt=""> </img>
  	</div>
  	<br>
  	

  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >3. Val d’Isere, France</h4><br/>

		<div class="article-text">
			<p>OK, so Val d'Isere nightlife is on another level, just google Folie Douce and you will get the idea. Although I have never been to Val d'Isere I have heard a lot of great stuff about it.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="http://www.lechardonvaldisere.com/wp-content/uploads/2016/03/lefoliedoucemeribel-1024x480.jpg" style="width:100%" alt=""> </img>
  	</div>
  	<br>
  	

   	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >4. Meribel, France</h4><br/>

		<div class="article-text">
			<p>Meribel nightlife has a Vritish feel, apart from that you are in Meribel's amazing mountain scenery. Expect amazing wine and a chalet-meets-pubby vibe.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="http://www.jet2.com/uploadedImages/Shared_Resources/Images/folie-douce-2.jpg?ref=b61e5c03-20cc-4a8f-bd81-c05f984fc1a1" style="width:100%" alt=""> </img>
  	</div>
  	<br>


  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >5. Verbier, Switzerland</h4><br/>

		<div class="article-text">
			<p>Verbier is a world renowned ski resort and famous for its freestyle skiing. The resort attacts the rich and famous and has the price tag to go with it. Expect top end clubs, beautiful people and parties in some of the coolest chalets in Europe.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="https://s-media-cache-ak0.pinimg.com/564x/52/f3/4d/52f34d92f8519419815664deecddb290.jpg" style="width:100%" alt=""> </img>
  	</div>
  	<br>


  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >6. Zermatt, Switzerland</h4><br/>

		<div class="article-text">
			<p> Zermatt is a beautiful Swiss ski resort, it looks like it's out of a fairy tale. As well as it's stunning exterior expect some amazing apres ski experience.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="https://www.outsideonline.com/sites/default/files/styles/full-page/public/migrated-images/apres-ski-party-zermatt_h.jpg?itok=MTxbAqt7" style="width:100%" alt=""> </img>
  	</div>
  	<br>


  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >7. Chamonix, France</h4><br/>

		<div class="article-text">
			<p>Chamonix has a great rep for skiing and is also a great place for drinking. The famous 20km Vallée Blanche ski run is on the Glacier du Géant. Chamonix also has some amazing view which include the highest peak in the Alps, Mont Blanc.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="http://wintersportfrankrijkgids.nl/wp-content/uploads/2012/02/dutch-week-val-thorens.jpg" style="width:100%" alt=""> </img>
  	</div>
  	<br>


</div>

<!-- 
<div class="row" >
	<div style="padding-top:50px;" class="col-xs-10 col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
	  <h2 class="text-center"> Check out more!</h2>
	   
	  
	  <br/><br/>
	</div>
</div>


<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-3">
  <div class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://bonnier.imgix.net/gopro-snowboard-apps-_4yf01Ae12e15wemhI-vKA.jpg');">
    <a href="/" class="small-img-title"><h4>Top 10 Ski Vlogs</h4></a>
  </div>
</div>

	<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
  <div class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://www.parallel-lines.com/wp-content/uploads/2015/09/Adult-Group-Lessons-featured.jpg');">
		  <a href="/" class="small-img-title"><h4>Great For Beginners</h4></a>
  </div>
</div>
</div>



 -->




