<div class="article-banner-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://67.media.tumblr.com/d880f74e88ab9a1feff75c213376a267/tumblr_mfri7qgNKK1rwuyngo1_500.jpg');">  
  	<div href="/" id="shadow" class="article-banner-img-title">Hot Tub Ski Machiene</div>
</div>

<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">


		<!-- Details View -->
	    

  	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		<h4 id="textDetails" >What is better than getting back to your chalet and soaking in a hot tub? </h4><br/>

		<div class="article-text">
			<p>There is nothing better than getting into a hot tub after a good day on the slopes. It's all about the fresh mountain air, being surrounded by snow and relaxing that makes a hot tub at your chalet such a winner. We have made a list of some of our apartments that have that magical hot tub.</p>
		</div>
	</div>
	<div class="col-md-12 col-md-offset-0" style="padding-top:30px;padding-bottom:30px;">
      	<img id="imagg" src="https://media.skigebiete-test.de/images/ecu/entity/e_skiresort/skigebiet_le-grand-bornand_n3800-22772-0_l.jpg" style="width:100%" alt=""> </img>
  	</div>
  	<br>
  	

</div>





