<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

		




		<!-- <h2>{{article.title}}</h2> -->
		<div ng-bind-html="body"></div>

		
	    

	</div>

</div>





