<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">

	<div class="col-md-8 col-md-offset-2">
		<div class="article-text">
		      <h2 class="text-center">Stories</h2>
       <h4 class="text-center" style="font-weight:normal;">New from the PD blog</h4>
        <hr style="width: 100%; color: black; height: 1px; background-color:black; margin-bottom:50px;" />
		
	</div>
	</div>	


		<div class="col-md-4 col-md-offset-0"
	    <div ng-repeat="article in articles" id="blogPost">
		    <a ng-href="blog/{{article.id}}" class="noUderline">
		        <h2 id="textDetails" >{{article.title}}</h2>
		        <h4 id="textDetails" ng-bind-html="article.summary"></h4>
		        <div id="clipper">
		        <img  id="blogListImage" src="{{article.image}}" >
		        </div>
		    </a>
	    </div>
	       </div>



	</div>

</div>

<style>

#blogListImage{

   max-width: 100%;
    height: auto;    
}
#clipper{
	height:300px;
	overflow:hidden;
}
#blogPost{
	margin-bottom:100px;


}
#textDetails{
	text-align:center;
}

</style>







		