	<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">


		<!-- Details View -->
	   


		<div class="article-text">

			<h4 id="textDetails" >Blog Post Form</h4><br/>
			



<div>
	<form novalidate>
	<h4>Title:</h4> 
	<input type="text" class="form-control" ng-model="article.title"><br/>

	<h4>Image URL:</h4>
	<input type="text" class="form-control" ng-model="article.image"><br />

	<!--
	<h4>Summary:</h4>
	<textarea type="text" class="form-control" ng-model="article.summary"></textarea><br />
	-->

	<h4>Body:</h4>
	<textarea type="text" class="form-control" ng-model="article.body"></textarea><br />

	<button class="btn btn-primary btn-block" ng-click="submit()">Submit</button>
	</form>


	</div>
	</div>

  	

</div>





