<div class="article-banner-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.2)),url('http://67.media.tumblr.com/b8424d53e26e757bf3d87ee9dbc63c8f/tumblr_o1va7gAjKH1upyvwfo1_500.jpg');">  
  	<div href="#/" id="shadow" class="article-banner-img-title">Contact Us</div>
</div>

<div class="container">

	<div class="col-md-12 col-md-offset-0" style="padding-top:50px;">


		<!-- Details View -->

		<h4 id="textDetails" >We would love to hear from you</h4><br/>
		<p>We are new to this and would love your feedback. If you are an agency and would like to talk to us about intgrating with Powderdays, a prospective customer or just someone who found yourself on our site, don't hesitate to drop us a line and say hi. We try to answer all email in under 24 hours. </p>
		<br><br>

		<div class="article-text">

		<div class="input-group" id="fullWidth">
		
		<input type="text" ng-model="data.name" id="contactInput" class="form-control" placeholder="Name" aria-describedby="basic-addon1">

		<input type="text" ng-model="data.email" id="contactInput" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1">

		<input type="text" ng-model="data.subject" id="contactInput" class="form-control" placeholder="Subject" aria-describedby="basic-addon1">

		<textarea type="text" ng-model="data.message" id="contactInput" class="form-control" placeholder="Message" aria-describedby="basic-addon1"></textarea>


		</div>
		</div>
		<button type="submit" ng-click="submit()" class="btn btn-primary btn-block">Submit</button>

	</div>

  	<br>
  	

</div>








