
<div  ng-include src="'views/photoSlider.html'" ></div>



<a ng-click="openPhotoSwipe(0)" style="z-index:100;" >
  <div class="crop" style="position:relative;">
      <img ng-src="{{details.photos[0]}}" id="coverImage" width="100" height="140">
      <button type="" id="imageButton" class="btn btn-primary" style="">View Images</button>
  </div>  
</a>


<div class="container">
	<div class="col-md-8 col-md-offset-0">


<!--
Details View
-->







  <!-- Title -->

<div id="contentBlock">
  <h2 id="detailsTitle">{{details.accommodation.name}}</h2>
  <h4 id="textDetails">{{details.accommodation.resort}}, {{details.accommodation.region}}, {{details.country}}</h4>
 <hr style="width: 100%; color: black; " />
  <div class="col-xs-3 col-md-3">
<img src="images/svg/chalet.svg" style="display:block; margin:auto; color:red !important;" width="60" alt="Kiwi standing on oval">️ </img><br>
  <p id="detailsTitleBody2">{{details.room.type}}</p>
  </div>
  <div class="col-xs-3 col-md-3">
  <img src="images/svg/people.svg" style="display:block; margin:auto; color:red !important;" width="60" alt="Kiwi standing on oval">️ </img>
   <p id="detailsTitleBody2">Rooms {{details.room.max_pax}}</p>
  </div>
  <div class="col-xs-3 col-md-3">
  <img src="images/svg/food.svg" style="display:block; margin:auto; color:red !important;" width="60" alt="Kiwi standing on oval">️ </img>
   <p id="detailsTitleBody2">{{details.room.board}}</p>
  </div>
  <div class="col-xs-3 col-md-3">
<img src="images/svg/plane2.svg" style="display:block; margin:auto; color:red !important;" width="60" alt="Kiwi standing on oval">️ </img>
   <p id="detailsTitleBody2">Flights</p>
</div>
 <hr style="width: 100%; color: black; " />
</div>





<div id="contentBlock">
<h4>  Description</h4>
 <p id="detailsTitleBody" ng-bind-html="details.room.total_text"></p>
 <p id="detailsTitleBody">• Catering: {{details.room.board}}</p>
  <p id="detailsTitleBody">• Accommodation Type: {{details.room.type}}</p>
 <p id="detailsTitleBody">• Number of Rooms: {{details.room.max_pax}}</p>
</div>





<div id="contentBlock">
  <h4> Resort</h4>
  <p id="detailsTitleBody">{{details.accommodation.resortDescription}}</p>
</div>

<!-- <div id="contentBlock">
  <h4> Services</h4>
  <p id="detailsTitleBody">{{details.accommodation.services}}</p>
</div>
-->




<div id="contentBlock" style="height:auto: overflow: hidden;">

  <div class="col-xs-12 col-md-4 col-md-offset-0" style="padding-top:10px;">
    <h4> Services</h4>
  </div>

   <div class="col-md-8 col-md-offset-0" style="padding-top:10px;">
      <div class="row">
            <div class="col-xs-6 col-sm-6" style="padding-top:10px;">

              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.snow ? 'service-unavailable':''"> <img src="images/svg/flake.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval">️ Snow guarantee </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.liftpass ? 'service-unavailable':''"> <img src="images/svg/pass.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Lift Pass </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.pool ? 'service-unavailable':''"> <img src="images/svg/pool.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Pool </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.wifi ? 'service-unavailable':''"> <img src="images/svg/wifi.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Wifi </p><br>

            </div>

            <div class="col-xs-6 col-sm-6" style="padding-top:10px;">

              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.parking ? 'service-unavailable':''"> <img src="images/svg/parking.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Parking </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.flights ? 'service-unavailable':''"> <img src="images/svg/plane.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Flights </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.spa ? 'service-unavailable':''"> <img src="images/svg/spa.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Spa </p><br>
              <p id="badgeNumberLeft" ng-class="!details.accommodation.servicesIcons.apres ? 'service-unavailable':''"> <img src="images/svg/apres.svg" width="30" style="padding-right:10px;" alt="Kiwi standing on oval"> Apres </p><br>
 
            </div>
      </div>
  </div>

</div>


<div id="contentBlock">
  <!-- <a style="z-index:100;"> -->
    <h4>View Images ( {{details.photos.length}} )</h4>
  

    <div ng-repeat="photo in details.photos" ng-click="openPhotoSwipe($index)" class="col-xs-6 col-md-4 col-md-offset-0" style="padding-top:10px; height:100%">

    <img ng-src="{{photo}}" id="coverImage" width="100%" height="auto" alt="powderdays">
    </div>
  

</div>






</a>
</div>




<div  class="col-md-3 col-md-offset-1">
<div id="sticky-anchor"></div>
<div id="sticky">

    <div ng-show="details.price">
      <h3 id="textDetailsBlue" class="text-left">£{{details.price}} </h3>
      <h5 id="textDetailsBlueLight" class="text-left">per person, {{details.nights}} nights </h5>
    </div>
    <hr style="margin-top:30px;"></hr>




<br>


<h4 id="textDetails" class="text-right" style="text-align:left; padding-bottom:10px;">Make an offer</h4>

<!-- Einar this is the offer price -->

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">£</span>
  <input ng-model="bid.price" type="text" class="form-control" placeholder="Offer" aria-describedby="basic-addon1"></input>
</div>

<br>

<!-- And this is the email -->

<input type="text" ng-model="bid.email" id="contactInput" class="form-control" placeholder="Your Email" aria-describedby="basic-addon1"></input>

<!-- And this once the top two are compleete, the button is clickable -->

<a>
  <button type="submit" ng-click="makeOffer()" class="btn btn-primary btn-block book">Submit offer to agent</button>
</a>
<br>

<h4 id="textDetails" class="text-right" style="text-align:left; padding-bottom:10px;">Or Book Now</h4>

<a ng-href="{{details.bookingURL}}" target="_blank">
  <button type="submit" class="btn btn-primary btn-block book">Book for £{{details.price}}</button>
</a>

<br><br>
<!--
<h4 id="textDetails" class="text-right" style="text-align:left; padding-bottom:10px;">Whats included</h4>
<div class="btn-group-vertical" style="width:100%;"role="group" aria-label="...">
  <button type="button" id="infoStack" class="btn btn-default form-control">Flight<span class="glyphicon glyphicon-plane" id="badgeNumber"></span></button>
  <button type="button" id="infoStack" class="btn btn-default form-control">Transfers<span class="glyphicon glyphicon-road" id="badgeNumber"></span></button>
  <button type="button" id="infoStack" class="btn btn-default form-control">{{details.room.type}}<span class="glyphicon glyphicon-home" id="badgeNumber"></span></button>
  <button type="button" id="infoStack" class="btn btn-default form-control">   {{details.room.board}} <span class="glyphicon glyphicon-cutlery" id="badgeNumber"></span></button>
</div>

<br>
<br>




<div class="btn-group-vertical" style="width:100%;"role="group" aria-label="...">
  <button type="button" id="buttonStack" ngclipboard data-clipboard-text="{{url}}" class="btn btn-default form-control">Copy Link<span class="glyphicon glyphicon-link" id="badgeNumber"></span></button> 
  <button type="button" id="buttonStack" class="btn btn-default form-control" ng-click="clickStar(details)">{{isFavourite(details)?"Remove from favourites":"Add To Favourites"}}<span class="glyphicon glyphicon-star" id="badgeNumber"></span></button>
</div>
-->
</div>



</div>

<div id="sticky2">
  <div  class="col-md-12 col-md-offset-0">
   <button type="button" class="btn btn-primary btn-block book">Book Now</button>
  </div>
</div>






