<div class="container">
  <div class="row">






<!--
Pulls in the seach directive 
-->



<div class="col-xs-12 col-md-8 col-md-offset-2" style="padding-top:90px;">
 <div class="col-md-12 col-md-offset-0" >     
  <div class="col-xs-8 col-md-offset-0" style="padding-left:0px;">

    <h6 id="textFav">Your Favourites</h6>


  </div>

  <div class="col-xs-4 col-md-offset-0" style="padding-right:0px;">

    <div class="form-group">

      <select id="mySelect" class="form-control" ng-model="sortSelect">
        <option value="">Sort by:</option>
        <option value=0 >Price: High To Low</option>
        <option value=1 >Price: Low To High</option>
        <option>Recommended</option>
      </select>

    </div>

  </div>
</div>
</div>

<!-- 
xs (phones), sm (tablets),
-->
  <div  class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
    <div ng-include src="'views/resultsList.html'"></div>
  </div>

</div>

</div>
</div>

<!-- row -->
</div>
<!-- container -->
</div>



