<div style="background-color:rgb(238,238,238);">
<div class="container" style="padding-bottom:70px; padding-top:70px;">
  <div class="row">

<div class="col-xs-4 col-md-3">
	<h4 id="footerCenter">Company</h4><br>
	<a href="about"><p id="footerCenter">About</p></a>
	<a href="legal"><p id="footerCenter">Legal</p><a>
	<a href="legal"><p id="footerCenter">Terms & Privacy</p><a>


	
</div>


<div class="col-xs-4 col-md-3">
	<h4 id="footerCenter">Social</h4><br>
<a href="contact" target="_top"><p id="footerCenter">Contact</p></a>
<a href="https://www.facebook.com/powderdaysholidays/" target="_blank"><p id="footerCenter">Facebook</p></a>
<a href="https://www.instgram.com/powderdaysholidays/" target="_blank"><p id="footerCenter">Instagram</p></a>
</div>

<div class="col-xs-4 col-md-3">
	<h4 id="footerCenter">Partners</h4><br>
<a href="contact" target="_blank"><p id="footerCenter">Advertise</p></a>
<a href="contact" target="_blank"><p id="footerCenter">Sign up as agency</p></a>
<a href="mailto:sabbakeynejad@gmail.com?Subject=Map"target="_blank"><p id="footerCenter">Site map</p></a>
</div>

<div class="col-xs-4 col-md-2">
 	 <img style="width:100%; padding-top:15px;" src="images/logo.png"></img>
</div>





 
  </div>
</div>
</div>