<div id="imageId" >

<img src="/images/franceFriends.jpg" id="bgImage" style="min-width:100%; max-width:400%;
max-height:200%; height:550px;"></img>

<img src="/images/home.jpg" id="bgImage2" style="  z-index:-10000;
max-height:100%;"></img> 

<!--
<video id="videobcg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
     <source src="https://s3-us-west-2.amazonaws.com/powderdays/master29.mp4" type="video/mp4">
     <source src="https://s3-us-west-2.amazonaws.com/powderdays/master29.webm" type="video/webm">
      <img src="https://s3-us-west-2.amazonaws.com/powderdays/HomePage/video.jpg" title="Your browser does snot support the <video> tag">
</video>
-->



	<div class="container">
		  	<div class=" col-md-12 col-md-push-0 col-md-pull-0 catchPhrase">
		  		<div id="mainTitle" style="vertical-align: middle;">
					<h1  id="blueHead"><strong>Make an offer on any ski trip</strong></h1>
					<h2 id="mainSub">Buy now or make an offer on any of<br> our 1,500 Chalets in 350 resorts</h2>
				</div>
		  	</div>
		  	<div class="row">

			<!-- <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-md-push-0 col-md-pull-7 col-lg-push-0 col-lg-pull-7" id="formCol" style="">

		  		<search-directive>
		  	</div> -->

		  	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-md-push-0 col-lg-12" id="formCol" style="">

		  		<search-directive>
		  	</div>

		</div>
	</div>


<div style="background-color:white; z-index:9999999 !important">
	<div class="container" >

 	<div ng-include src="'views/weekend.html'" ></div>
 	<div ng-include src="'views/staffPicks.html'" ></div>
 	<div ng-include src="'views/offers.html'" ></div>



	</div>
</div>

