<div clas="container" style=" width:100%;">

  <div class="row" >
    <div style="padding-top:50px;" class="col-xs-10 col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-center"> Need some inspiration?</h2>
       <h4 class="text-center" style="font-weight:normal;"> No worries, we got your back!</h4>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
      <br/><br/>
    </div>
  </div>

  <!-- Start Feed Items -->

  <!-- Big Item -->
  <div class="row">
    <div  class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0">
        <div ng-click="clickCountry('France','7', 2, '2017-03-03T00:00:00.000Z')" class="big-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://s3-us-west-2.amazonaws.com/powderdays/HomePage/sunSki.jpg');">  
          <div class="big-img-title"><h4>Ski in the sun</h4></div>
        </div>
    </div>


      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <div ng-click="clickCountry('Switzerland','7', 4, '2017-01-03T00:00:00.000Z')" class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://s3-us-west-2.amazonaws.com/powderdays/HomePage/swis.jpg');">
        <div class="big-img-title"><h4>Visit Switzerland</h4></div>
      </div>
    </div>
  </div>

  <!-- 2 Small Items -->
  <div class="row" style="margin-bottom:100px;">
  	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <div ng-click="clickCountry('Switzerland','7', 6, '2017-01-03T00:00:00.000Z')" class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://s3-us-west-2.amazonaws.com/powderdays/HomePage/powder.jpg');">
         <div class="big-img-title"><h4>Best powder</h4></div>
      </div>
    </div>

   	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      <div ng-click="clickCountry('France','7', 7, '2017-01-03T00:00:00.000Z')" class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://s3-us-west-2.amazonaws.com/powderdays/HomePage/franceFriends.jpg');">
  		  <div class="big-img-title"><h4>Great for beginners</h4></div>
      </div>
    </div>


      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
   <div ng-click="clickCountry('France','7', 4, '2017-01-03T00:00:00.000Z')" class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://s3-us-west-2.amazonaws.com/powderdays/HomePage/french.jpg');">  
          <div class="big-img-title"><h4>Best of France</h4></div>
      </div>
    </div>
  </div>

  <!-- End News Items -->

</div>




<style>
  #container2 {
    position: absolute;
    clip: rect(0px,auto,300px,0px);
  }
  .text-center {

  }
  #image {
    position: absolute;
  }
  #text {
    z-index: 100;
    width:100%;
    position: absolute;
    color: white;
    text-align:center;
    left: 0px;
    top: 350px;
  }

  

  @media (max-width: 991px) {
    .big-img {
      height: 300px;
    }
    .small-img {
      height: 300px;
    }
    
    #blueHead{
      padding-top: 0% !important;
      padding-bottom: 20%;
    }
    #formCol{

      background-color: transparent;
      height:auto;
      padding-top: 40px
    }
    #blueHead{
      padding-bottom: 0% !important;
    }
    .catchPhrase {
      background-color: transparent;
      width:100%;
      height:auto;
      padding-bottom: 20px;
    }


  }
</style>
