<div class="container">
  <div class="row">





<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0" id="formCol" style="z-index:10000">

<!--
collapse below currentley will not colse. Need to look into why it has stopped working. 
Possibley it Jqury not loading on the page or because some exmpale use a href link.
Refrance: http://www.w3schools.com/bootstrap/bootstrap_collapse.asp     
-->

<div class="col-xs-12">
  <button type="button" class="btn btn-block btn-primary" ng-click = "isCollapsed = !isCollapsed">Refine Search</button>
    <div uib-collapse="isCollapsed"><br>
        <search-directive2>
    </div>
</div>


<div class="col-xs-12">
    <div>
      <hr style=""></hr>
      <p style="font-weight: 900;">Price</p>
      <p>£{{slider.minValue}} - £{{slider.maxValue}}</p>
    <div>

    <rzslider rz-slider-model="slider.minValue", rz-slider-high="slider.maxValue" rz-slider-options="slider.options" ></rzslider>
</div><br>

</div>

<!-- 
new row to break the two boxes 
custom padding added on the right of the col
-->


<!-- 
Filter comented out untill it get inplmented

<div class="row" style="padding-bottom: 0px;">
  <div class="col-xs-6 col-sm-6" style="padding-right:7.5px">

   <div class="form-group">

          <select class="form-control" ng-model="parameters.nights" placeholder="Nights">
       
            <option value=3>  Half Board</option>
            <option value=7>  Full Board</option>
            <option value=10>Self Cated</option>
          </select>

    </div>
-->


<!-- 
new row to break the two boxes 
custom padding added on the left of the col
-->


<!-- 
Filter comented out untill it get inplmented
    </div>
    <div class="col-xs-6 col-sm-6" style="padding-left:7.5px;">
        <div class="form-group">

          <select class="form-control" ng-model="parameters.nights" placeholder="Nights">
          
            <option value=3>B&B</option>
            <option value=7>Chalet</option>
            <option value=10>Hotel</option>
          </select>

        </div>
      </div>


</div>
-->
</div>
</div>




<div  class="col-xs-12 col-md-7 col-md-offset-1" id="resultsNumbers">
 <div ng-show = "loadingState == 1" class="col-md-12 col-md-offset-0">     
  <div class="col-xs-8 col-md-offset-0" style="padding-left:0px;">

    <h6 id="textBold">  UK > {{destination}}</h6>
    <h6 id="text"> {{countFiltered}} Results - {{date.getUTCFullYear() +"/"+ (date.getUTCMonth()+1) +"/"+ date.getUTCDate()}}</h6>

  </div>

  <div class="col-xs-4 col-md-offset-0" style="padding-right:0px;">
<!--
Filter comented out untill it get inplmented
    <div class="form-group">

      <select id="mySelect" class="form-control" ng-model="sortSelect">
        <option value="">Sort by:</option>
        <option value=0 >Price: High To Low</option>
        <option value=1 >Price: Low To High</option>
        <option>Recommended</option>
      </select>

    </div>

-->    
    
  </div>
 </div>

<!-- This is where you put the 'Loading screen' -->
 <div ng-show = "loadingState == 0"> <h4 id='textBold'> Loading results</h4> </div>
 <div ng-show = "loadingState == 2">
  <h4 style="text-align:center; padding-top:50px;">No results :(</h4><br><p style="text-align:center;">Try changing your search parameters<p><br>




</div>


</div>



<!-- 
xs (phones), sm (tablets),
-->

  <div ng-show = "loadingState == 1" class="col-md-7 col-md-offset-1 col-sm-12 col-sm-offset-0">
     <div ng-include src="'views/resultsList.html'" ></div>
  </div>
<!--  <div in-view="loadMore($inview)" in-view-options="{throttle: 300}"> Yo</div> -->




</div>


</div>
</div>

<!-- row -->
</div>
<!-- container -->
</div>



