
  <div  id="loopContainer" ng-repeat = "(accommodationID, offers) in results | filter:byRange('price',slider.minValue,slider.maxValue) | groupBy:'accommodationID'">
    
   

<!-- orderBy:sorting[sortSelect].property:sorting[sortSelect].reverse -->
     <a ng-click="clickResult(offers)" ng-href="offers/{{offers[0].id}}">

      <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" style="padding-top:45px;">

        <img ng-src="{{offers[0].accommodation.photo}}"  id="loopImage"  style="width:100%; padding-right: 30px;" ></img>
      </div>
      
      <div class="col-md-12 col-md-offset-0"  >
        
        <div class="col-md-8 col-xs-6 col-md-offset-0" id="resultsText">

         <h4 id="textBold">  {{offers[0].accommodation.name}} </h4>
         <h6 id="text">{{offers[0].accommodation.region}}, {{offers[0].country}} </h6>
         
       </div>

       <div class="col-xs-4 col-md-offset-0 col-md-3" id="resultsText">

         <h6 id="text" class="text-right"> From </h6>
         <h4 id="textBold" class="text-right"> £{{ getMinPrice(offers) }} </h4>
         
       </div>

     </a>

     <div class="col-xs-2 col-md-offset-0 col-md-1" id="resultsText">
      <h4 id="textStar" ng-class="isFavourite(result) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'" aria-hidden="true" ng-click="clickStar(offers[0])"></h4> 
    </div> 



  </div>
    </div>


  <button ng-show="results&&!finished" class="btn btn-block btn-primary" ng-click="loadMore()" style="margin-top: 80px; overflow:auto; display:inline-block;"> Load more </button>
