
<div id="search-form-container" class="col-xs-12 col-sm-0" style="z-index:1;">





<!-- 
Main form contriner starts here
-->
<form style="vertical-align: middle;">

  <div class="form-group col-sm-4 col-md-4 col-lg-4 padding-zero">
    <select class="form-control" ng-model="parameters.country" placeholder="Country" style="z-index">
            <option value=""> Where to  </option>
            <option value="Anywhere"> Anywhere! </option>
            <option value="France">France</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Italy">Italy</option>
            <option value="Austria">Austria</option>
            <!--<option value="Bulgaria">Bulgaria</option>-->
            <!--<option value="Spain">Spain</option>-->
    </select>      
  <!-- <input type="text" class="form-control" id="destination" placeholder="Where to" ng-model = "parameters.destination"> -->
  </div>





<!-- 
new row to break the two boxes 
custom padding added on the right of the col
-->

  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 padding-zero" id="smallPaddingRight" style="z-index:9999999">


        

  <input template-url="views/datePicker.html"  type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="parameters.date" ng-click="openDate()" is-open="dateOpened" 
         datepicker-options="dateOptions" on-open-focus="false" style="z-index:9999999">


    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 padding-zero"  id="smallPaddingLeft" style="z-index:9999999">
        <div class="form-group">

          <select class="form-control" ng-model="parameters.nights" placeholder="Nights" style="z-index:9999999">
            <!-- <option value=""> Nights </option> -->
            <option value=3>  3 Nights</option>
            <option value=7>  7 Nights</option>
            <option value=10>10 Nights</option>
            <option value=14>14 Nights</option>
          </select>

        </div>
      </div>







  <!-- 
  this is the away form 
  and the options
  -->


    <!-- AIRPORT FIELD -->
    <!--
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Any Airport">
      </div> 
    -->
    <div class="form-group col-sm-2 col-md-2 col-lg-2 padding-zero">
      <input type="number" class="form-control" id="people" placeholder="Number of People" ng-model="parameters.people">
    </div>









  <div class="form-group col-sm-2 col-md-2 col-lg-2 padding-zero">

    <a ng-click="searchSubmit()">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </a>
  </div>


</form>



