
<div id="search-form-container" class="col-xs-12 col-sm-0" style="z-index:1;">





<!-- 
Main form contriner starts here
-->
<form style="vertical-align: middle;">

  <div class="form-group">
    <select class="form-control" ng-model="parameters.country" placeholder="Country">
            <option value=""> Where to  </option>
            <option value="Anywhere"> Anywhere! </option>
            <option value="France">France</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Italy">Italy</option>
            <option value="Austria">Austria</option>
            <!--<option value="Bulgaria">Bulgaria</option>-->
            <!--<option value="Spain">Spain</option>-->
    </select>      
  <!-- <input type="text" class="form-control" id="destination" placeholder="Where to" ng-model = "parameters.destination"> -->
  </div>





<!-- 
new row to break the two boxes 
custom padding added on the right of the col
-->
<div class="row" style="padding-bottom: 0px;">
    <div class="col-xs-6 col-sm-6" style="padding-right:7.5px">


<div class="form-group">
        
<!--   <div class="col-xs-12 col-sm-12" style="padding-left:7.5px; background-color:white;  z-index:99999 !important; border: 1px solid #ccc; margin-bottom:15px;">
    <md-datepicker ng-model="parameters.date" id="datepicker" style="z-index: 1050" md-placeholder="Enter date" md-min-date="minDate"></md-datepicker>
  </div> -->
  <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="parameters.date" ng-click="openDate()" is-open="dateOpened" 
         datepicker-options="dateOptions" on-open-focus="false">
        
</div>
<!-- 
new row to break the two boxes 
custom padding added on the left of the col
-->

    </div>
    <div class="col-xs-6 col-sm-6" style="padding-left:7.5px;">
        <div class="form-group">

          <select class="form-control" ng-model="parameters.nights" placeholder="Nights">
            <!-- <option value=""> Nights </option> -->
            <option value=3>  3 Nights</option>
            <option value=7>  7 Nights</option>
            <option value=10>10 Nights</option>
            <option value=14>14 Nights</option>
          </select>

        </div>
      </div>
</div>






  <!-- 
  this is the away form 
  and the options
  -->


    <!-- AIRPORT FIELD -->
    <!--
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Any Airport">
      </div> 
    -->
    <div class="form-group">
      <input type="number" class="form-control" id="people" placeholder="Number of People" ng-model="parameters.people">
    </div>






<div class="form-group">
  <div class="input-group">
    <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        £ 
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">£ British Pound</a></li>
      <li><a href="#">€ EURO</a></li>
    </div>
  <input type="number" class="form-control" placeholder="Per Person" ng-model="parameters.budget">
  </div>
</div>



  <div class="form-group">

    <a ng-click="searchSubmit()">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </a>
  </div>


</form>



