<div clas="container" style=" width:100%;">

  <div class="row" >
    <div style="padding-top:50px;" class="col-xs-10 col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-center">Stories</h2>
       <h4 class="text-center" style="font-weight:normal;">New from the PD blog</h4>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
      <br/><br/>
    </div>
  </div>

  <!-- Start Feed Items -->



  <!-- 2 Small Items -->
  <div class="row">
  	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0" >

      <div class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://67.media.tumblr.com/b8424d53e26e757bf3d87ee9dbc63c8f/tumblr_o1va7gAjKH1upyvwfo1_500.jpg');">
        <a  href="blog/5820a9ef026ebe3672313ad7" class="small-img-title"><h4>Ski And Party</h4></a>

      </div>
    </div>


   	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">

      <div class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('images/blog/thumb.png');">
  		 <a  href="blog/5820ab5f026ebe3672313adb" class="small-img-title"><h4>Best Jackets</h4></a>
      </div>
    </div>


    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
      
      <div class="small-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('http://www.soundlr.com/wp-content/uploads/2015/03/europes-biggest-snow-music-festival-snowbombing-releases-final-tickets.jpg');">
       <a  href="blog/5820aa72026ebe3672313ad9"  class="small-img-title"><h4>Festivals</h4></a>

      </div>
    </div>
  </div>

</div>
</div>



  <!-- End News Items -->

</div>




<style>
  #container2 {
    position: absolute;
    clip: rect(0px,auto,300px,0px);
  }
  .text-center {

  }
  #image {
    position: absolute;
  }
  #text {
    z-index: 100;
    width:100%;
    position: absolute;
    color: white;
    text-align:center;
    left: 0px;
    top: 350px;
  }

  

  @media (max-width: 991px) {
    .big-img {
      height: 300px;
    }
    .small-img {
      height: 300px;
    }
    
    #blueHead{
      padding-top: 0% !important;
      padding-bottom: 20%;
    }
    #formCol{

      background-color: transparent;
      height:auto;
      padding-top: 40px
    }
    #blueHead{
      padding-bottom: 0% !important;
    }
    .catchPhrase {
      background-color: transparent;
      width:100%;
      height:auto;
      padding-bottom: 20px;
    }


  }
</style>
