<div clas="container" style=" width:100%; margin-bottom:100px; ">

  <div class="row" >
    <div style="padding-top:100px;" class="col-xs-10 col-xs-offset-1 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
      <h1 class="text-center">Always get the best price</h1>
       <h2 class="text-center" id="makeBid" style="font-weight:normal;">Make a bid on any ski trip and let our 
partners compete to bring you the best price. Choose from 1500 Chalets in 350 resorts</h2>
      <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
      <br/><br/>
    </div>
  </div>

  <!-- Start Feed Items -->



  <!-- 2 Small Items -->
  <div class="row">
  <div class="col-sm-10 col-md-10 col-xs-offset-0 col-sm-offset-1">

  	<div class="col-sm-4 col-md-4">
      <!--  <div  class="small-img-svg" style="background-image:url('images/icons/ski.png');"> </div> -->
      <img id="svgBox" src="images/icons/ski.png"></img>
      <h2 class="text-center">Find</h2>
      <h4 class="text-center">Find your perfect skiing holiday</h4></a>
    </div>

    <div class="col-sm-4 col-md-4">
     <!--  <div  class="small-img-svg" style="background-image:url('images/icons/price.png');"> </div> -->
      <img id="svgBox" src="images/icons/price.png"></img>
      <h2 class="text-center">Offer</h2>
      <h4 class="text-center">Go through to bookings or make an offer</h4></a>
    </div>


  <!-- ng-click="clickCountry('Switzerland','3', 4, '2017-01-03T00:00:00.000Z')"  -->

    <div class="col-sm-4 col-md-4 ">
     <!--  <div  class="small-img-svg" style="background-image:url('images/icons/mountain.png');"> </div> -->
      <img id="svgBox" src="images/icons/mountain.png"></img>
       <h2 class="text-center">Ski</h2>
      <h4 class="text-center">Let our partners bring you the best price</h4></a>
    </div>

  </div>
  </div>
</div>
</div>



  <!-- End News Items -->

</div>




<style>
#makeBid{
  font-size:20px;
}
#svgBox{
  width: 70%;
    margin: auto;
    display: block;
}
  #container2 {
    position: absolute;
    clip: rect(0px,auto,300px,0px);
  }
  .text-center {

  }
  #image {
    position: absolute;
  }
  #text {
    z-index: 100;
    width:100%;
    position: absolute;
    color: white;
    text-align:center;
    left: 0px;
    top: 350px;
  }

  

  @media (max-width: 991px) {
    .big-img {
      height: 300px;
    }
    .small-img {
 
    }
    
    #blueHead{
      padding-top: 0% !important;
      padding-bottom: 20%;
    }
    #formCol{

      background-color: transparent;
      height:auto;
      padding-top: 40px
    }
    #blueHead{
      padding-bottom: 0% !important;
    }
    .catchPhrase {
      background-color: transparent;
      width:100%;
      height:auto;
      padding-bottom: 20px;
    }


  }
</style>
